<p>29. Laptop List</p>
<input type="text" class="form-control" [(ngModel)]="newLaptop" placeholder="Add a laptop" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addLaptop()">Add Laptop</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideLaptopsList()">Load Laptops</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let laptop of laptops">
    {{laptop}}
  </li>
</ul>