<p>25. Lecture List</p>
<div class="mb-3">
  <label>Course</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.course" placeholder="Course" />
</div>
<div class="mb-3">
  <label>Code</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.code" placeholder="Code" />
</div>
<div class="mb-3">
  <label>Section</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.section" placeholder="Section" />
</div>
<div class="mb-3">
  <label>Year</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.year" placeholder="Year" />
</div>
<div class="mb-3">
  <label>Semester</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.semester" placeholder="Semester" />
</div>
<div class="mb-3">
  <label>School Year</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.schoolYear" placeholder="School Year" />
</div>
<div class="mb-3">
  <label>Professor</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.professor" placeholder="Professor" />
</div>
<div class="mb-3">
  <label>Day</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.day" placeholder="Day" />
</div>
<div class="mb-3">
  <label>Time</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.time" placeholder="Time" />
</div>
<div class="mb-3">
  <label>Duration</label>
  <input type="text" class="form-control" [(ngModel)]="newLecture.duration" placeholder="Duration" />
</div>

<button class="btn btn-primary mt-2" (click)="addLecture()">Add Lecture</button>

<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let lecture of lectures">
    {{ lecture.course }} ({{ lecture.code }}) - {{ lecture.professor }} on {{ lecture.day }} at {{ lecture.time }}
  </li>
</ul>
