<p>47. Event List</p>
<input type="text" class="form-control" [(ngModel)]="newEvent" placeholder="Add an event" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addEvent()">Add Event</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideEventsList()">Load Events</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let event of events">
    {{event}}
  </li>
</ul>