<p>3. Fruit List</p>
<input type="text" class="form-control" [(ngModel)]="newFruits" placeholder="Add a fruit" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addFruit()">Add Fruit</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideFruitsList()">Load Fruits</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let fruit of fruits">
    {{fruit}}
  </li>
</ul>




