<p>2. Employee List</p>
<input type="text" class="form-control" [(ngModel)]="newEmployee" placeholder="Add an employee" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addEmployee()">Add Employee</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideEmployeesList()">Load Employees</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let employee of employees">
    {{employee}}
  </li>
</ul>

