<p>44. Budget List</p>
<input type="text" class="form-control" [(ngModel)]="newBudget" placeholder="Add a budget" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addBudget()">Add Budget</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideBudgetsList()">Load Budgets</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let budget of budgets">
    {{budget}}
  </li>
</ul>