<div class="container">
  <h1 class="text-center mt-5">Angular With TypeScript And Data Structures</h1>
  <hr>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mt-3">
    <ul class="navbar-nav d-flex justify-content-between">
      <li class="nav-item">
        <a class="nav-link" routerLink="/students-list">Students List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee-list">Employee List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fruit-list">Fruit List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/course-list">Course List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books-list">Books List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/city-list">City List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movie-list">Movie List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/car-model-list">Car Model List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-list">Product List</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>
