<div class="container">
  <h1 class="text-center mt-5">Angular With TypeScript And Data Structures</h1>
  <hr>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mt-3">
    <div class="container-fluid">
      <ul class="navbar-nav flex-wrap">
        <li class="nav-item">
          <a class="nav-link" routerLink="/students-list">Students List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employee-list">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fruit-list">Fruit List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/course-list">Course List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books-list">Books List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/city-list">City List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movie-list">Movie List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/car-model-list">Car Model List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product-list">Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/subject-list">Subject List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/country-list">Country List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sports-list">Sports List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vegetable-list">Vegetable List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/animal-list">Animal List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tool-list">Tool List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/language-list">Languages List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/game-list">Games List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/software-list">Software List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/phone-contact-list">Phone Contact List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/music-list">Music Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/food-list">Food Menu List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/grocery-list">Grocery List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classroom-list">Classroom List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventory-list">Inventory List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lecture-list">Lecture List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stationery-list">Stationery List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/flower-list">Flower List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/destination-list">Descination List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laptop-list">Laptop List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laptop-specs-list">Laptop Specification List</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
