<p>38. Painting List</p>
<input type="text" class="form-control" [(ngModel)]="newPainting" placeholder="Add a painting" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addPainting()">Add Painting</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="providePaintingsList()">Load Paintings</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let painting of paintings">
    {{painting}}
  </li>
</ul>