<p>12. Sports List</p>
<input type="text" class="form-control" [(ngModel)]="newSports" placeholder="Add a sport" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addSport()">Add Sport</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideSportsList()">Load Sports</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let sport of sports">
    {{sport}}
  </li>
</ul>