<p>36. Accessory List</p>
<input type="text" class="form-control" [(ngModel)]="newAccessory" placeholder="Add an accessory" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addAccessory()">Add Accessory</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideAccessoriesList()">Load Accessories</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let accessory of accessories">
    {{accessory}}
  </li>
</ul>