<p>1. Student List</p>
<input type="text" class="form-control" [(ngModel)]="newStudent" placeholder="Add a student" />

<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-primary mt-2" (click)="addStudent()">Add Student</button>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-secondary mt-2" (click)="provideStudentsList()">Load Students</button>
  </div>
</div>
<ul class="mt-3 list-group">
  <li class="list-group-item" *ngFor="let student of students">
    {{student}}
  </li>
</ul>
